<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bananazos</title>
  <link rel="shortcut icon" href="/favicon.ico" />

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><i class="material-icons">slideshow</i>Bananazos</a>
      <ul class="right hide-on-med-and-down">
        
        {% if user.is_authenticated %}
          <li><a href="historial">Historial</a></li>
          <li><a href="#">Usuarios</a></li>
          <li><a href="subir_trailer">Subir Trailer</a></li>
          <li><a href="/logout">Salir</a></li>
        {% else %}
          <li><a href="/login">Inicia Sesion</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        {% if user.authenticate %}
          <li><a href="#">Historial</a></li>
          <li><a href="#">Usuarios</a></li>
          <li><a href="subir_trailer">Subir Trailer</a></li>
          <li><a href="/logout">Salir</a></li>
        {% else %}
          <li><a href="/login">Inicia Sesion</a></li>
         {% endif %}
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <div class="container">
    
      {% block content %}
      {% endblock %}
    <br><br>
  </div>

  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Somos un equipo de estudiantes universitarios que trabajan en este proyecto como si fuera nuestro trabajo de tiempo completo. Cualquier cantidad ayudaría a apoyar y continuar el desarrollo de este proyecto y es muy apreciada.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Tecnologias Usadas</h5>
          <ul>
            <li><a class="white-text" href="https://www.djangoproject.com/">Django</a></li>
            <li><a class="white-text" href="https://materializecss.com/">Materialize</a></li>
            <li><a class="white-text" href="https://azure.microsoft.com/es-mx/">Azure</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Ve el Proyecto Completo</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/BackpropagatedPoets/Bananazos">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <i class="material-icons">favorite</i> by <a class="orange-text text-lighten-3" href="https://github.com/BackpropagatedPoets/">BackpropagatedPoets</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
