{% extends 'main/base.html' %}

{% block content %}

<div class="section">
    <h1>Historial</h1>
    <!--   Icon Section   -->
    <div class="row">
      {% for trailer in trailers %}
        
          <div class="icon-block">
            <a href="{% url 'trailers:video' trailer.id %}">
                <center>
                      <h5 class="center">{{trailer.titulo}}</h5>
                      <img  data-caption="A picture of a way with a group of trees in a park" width="250" src={{trailer.link_imagen}}>
                </center>
                <center>
                <pre class="light">{{trailer.duracion}} min</pre> 
                <pre>{{trailer.vistas}} reproducciones</pre>
                </center>
                
            </a>
          
      </div>  
      {% endfor %}
      </div>
    </div>
{% endblock %}