<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="navbar-fixed">
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><i class="material-icons">slideshow</i>Bananazos</a>
        <ul class="right hide-on-med-and-down">
        <li><a href="#">Trailers</a></li>
        <li><a href="#">Historial</a></li>
        <li><a href="#">Usuarios</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Trailes</a></li>
        <li><a href="#">Historial</a></li>
        <li><a href="#">Usuarios</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
  
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <a href="#" >
                <center>
                      <h5 class="center">Speeds up development</h5>
                      <img  data-caption="A picture of a way with a group of trees in a park" width="250" src="https://lorempixel.com/800/400/nature/4">
                      
                </center>
                <center>
                <pre class="light">4:20 min 
2 reproducciones</pre>
                </center>
                
            </a>
          </div>
        </div>  

        <div class="col s12 m4">
          <div class="icon-block">
            <a href="#" >
                <center>
                      <h5 class="center">Speeds up development</h5>
                      <img  data-caption="A picture of a way with a group of trees in a park" width="250" src="https://lorempixel.com/800/400/nature/4">
                      
                </center>
                <center>
                <pre class="light">4:20 min 
2 reproducciones</pre>
                </center>
                
            </a>
          </div>
        </div> 

        <div class="col s12 m4">
          <div class="icon-block">
            <a href="#" >
                <center>
                      <h5 class="center">Speeds up development</h5>
                      <img  data-caption="A picture of a way with a group of trees in a park" width="250" src="https://lorempixel.com/800/400/nature/4">
                      
                </center>
                <center>
                <pre class="light">4:20 min 
2 reproducciones</pre>
                </center>
                
            </a>
          </div>
        </div> 

        <div class="col s12 m4">
          <div class="icon-block">
            <a href="#" >
                <center>
                      <h5 class="center">Speeds up development</h5>
                      <img  data-caption="A picture of a way with a group of trees in a park" width="250" src="https://lorempixel.com/800/400/nature/4">
                      
                </center>
                <center>
                <pre class="light">4:20 min 
2 reproducciones</pre>
                </center>
                
            </a>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <i class="material-icons">favorite</i> by <a class="orange-text text-lighten-3" href="https://github.com/BackpropagatedPoets/">BackpropagatedPoets</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
